@Html.DropDownList("MyTestList", null, new { @class = "btn btn-default dropdown-toggle" })
@using BOOKS.Areas.Identity.Data;
@model PaginatedList<BOOKS.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="dropdown">
    @* <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Category
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">test1</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">test2</a></li>
    </ul> *@
@* 
    <select class="form-control" id="StudentGender" name="StudentGender">
        <option>Select Gender</option> 
        <option>Male</option> 
        <option>Female</option> 
    </select> *@

</div>
